body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
}

.ml-auto {
    margin-left: auto;
}

a {
    text-decoration: none;
}

/* Start header */
.header {
    padding: 20px 0px;
}
.header .logo {
    font-weight: 700;
    font-size: 24px;
    padding: 3px 0px;
}
.header .menu-header {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}
.header .menu ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 8px 0;
}
.header .nav-link {
    color: #506690;
    font-weight: 500;
    padding: 0px 24px;
}
.header .nav-link:hover {
    color: #335eea;
}
.header .header-btn {
    background-color: #335eea;
    border-radius: .375rem;
    border-color: transparent;
    padding: .5625rem 1rem;
}
.header .header-btn a {
    color: #fff;
    font-size: 1.0625rem;
    
}
.header .header-btn a:hover {
    box-shadow: 0 1rem 2.5rem rgba(22,28,45,.1),0 .5rem 1rem -.75rem rgba(22,28,45,.1);
}
.header .menu-btn {
    padding: .25rem .75rem;
    font-size: 1.1875rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .375rem;
    margin-left: auto;
}
.header .menu-btn i {
    color: #506690;
}
/* End header */

/* Start about */
.about {
    padding-top: 1rem;
}
.about .title {
    line-height: 1.2;
    letter-spacing: -.02em;
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 1rem;
}
.about .title span {
    color: #335eea;
}
.about .sumary {
    color: #869ab8;
    font-size: 1.3125rem;
    font-weight: 300;
}
.about .btn-view {
    color: #fff;
    background-color: #335eea;
    border: 1px solid transparent;
    padding: .8125rem 1.25rem;
    font-size: 1.0625rem;
    line-height: 1.6;
    border-radius: .375rem;
    margin-right: .25rem;
}
.about .btn-view:hover {
    background-color: #1746e0;
}
.about .btn-doc {
    background-color: rgba(51,94,234,.1);
    color: #335eea;
    border: 1px solid transparent;
    padding: .8125rem 1.25rem;
    font-size: 1.0625rem;
    line-height: 1.6;
    border-radius: .375rem;
    margin-right: .25rem;
}
.about .btn-doc:hover {
    background-color: rgba(51,94,234,.15);
}
.about .sumary {
    margin-bottom: 3rem;
}
/* End about */

/* Start field */
.field {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.field .content {
    width: 100%;
    display: flex;
}
.field .form-group {
    width: 33.3%;
    padding: 0px 20px;
}
.field .form-group .icon {
    margin-bottom: .75rem;
}
.field .form-group .icon svg {
    width: 3rem;
    height: 3rem;
}
.field .form-group .title {
    margin-bottom: .5rem;
    line-height: 1.4;
    letter-spacing: -.01em;
    font-size: 1.3125rem;
    font-weight: 300;
}
.field .form-group .sumary {
    color: #869ab8;
    font-weight: 300;
    font-size: 1.0625rem;
    line-height: 1.6;
}
/* End field */


@media (min-width: 1200px) {
    .about .text {
        width: 50%;
    }
    .about .img {
        width: 50%;
        padding: 0xp 20px;
    } 
    .about .img img {
        max-width: 130%;
    }
}

@media (min-width: 992px) {
    .about .text {
        width: 50%;
    }
    .about .img {
        width: 50%;
        padding: 0xp 20px;
    } 
    .about .img img {
        max-width: 100%;
    }
}

@media (min-width: 900px) {
    .about {
        padding-top: 6rem !important;
    }
    .about .about-content {
        display: flex;
        width: 100%;
    }
    .about .text {
        width: 50%;
        padding: 0px 20px;
    }
    .about .img {
        width: 50%;
        padding: 0xp 20px;
        padding-left: 20px;
    } 
}

@media (min-width: 830px) {
    .header .menu-btn {
        display: none;
    }
}
@media (max-width: 829px) {
    .container {
        padding-left: 5%;
        padding-right: 5%;
    }
    .menu, .header-btn {
        display: none;
    }
    .about .text {
        width: 100%;
    }
    .about .img {
        width: 100%;
        padding: 0xp 20px;
    } 
    .about .img img {
        max-width: 100%;
    }
}

@media (min-width: 375px) {
    .about .text {
        padding-bottom: 50px;
    }
    .about .img img {
        width: 100%;
    }
}

/* @media (min-width: 768px) {
    .about {
        padding-top: 6rem !important;
    }
    .about .about-content {
        display: flex;
        width: 100%;
    }
    .about .text {
        width: 50%;
    }
    .about .img {
        width: 50%;
        padding: 0xp 20px;
    } 
    .about .img img {
        max-width: 100%;
    }
}
@media (min-width: 375px) {
    .about {
        padding-top: 6rem !important;
    }
    .about .text {
        width: 100%;
        padding-bottom: 50px;
        padding-right: 20px;
    }
    .about .img {
        width: 100%;
        padding-left: 20px;
    } 
    .about .img img {
        max-width: 100%;
    }
} */